<header>
    <div class="menu">
    <nav>
        <ul class="nav-links"> 
            <li><a href="/" class="nav-btn">Accueil</a></li>
            <li><a href="/projets" class="nav-btn">Projets</a></li>
            <li><a href="/contacter" class="nav-btn">Me Contacter</a></li>
        </ul>
    </nav>
</div>
</header>