<header>
    <div class="menu">
    <nav>
        <ul class="nav-links"> 
            <li><%= link_to "Accueil", "/", class: "nav-btn" %></li>
            <li><%= link_to "Projets", "/projets", class: "nav-btn" %></li>
            <li><%= link_to "Me Contacter", "/contacter", class: "nav-btn" %></li>
        </ul>
    </nav>
</div>
</header>