<!DOCTYPE html>
<html>
<head>
  <title>Portfolio Lucas</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
</head>

<body>
  <%= erb :"shared/_header" %>

  <%= yield %>

  <footer>
    <p>© 2026 - Portfolio Lucas</p>
  </footer>
</body>
</html>