<!DOCTYPE html>
<html>
<head>
  <title>Portfolio Stage</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link rel="stylesheet" href="/assets/stylesheets/application.css">

  <script src="/assets/javascript/application.js" defer></script>
</head>

<body>
  <%= erb :"../shared/header" %>

  <%= yield %>

  <footer></footer>
</body>
</html>